/* default overrides */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* skeleton */
body > nav {
  width: 100%;
  display: flex;
  border-bottom: 1px solid grey;
}

body > nav > ul {
  margin-right: auto;
}

body > nav > ul > li {
  display: inline-block;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid grey;
}

main {
  display: flex;
}
/* end skeleton */

/* list of articles */
main > section {
  flex-grow: 1;
}

.content > .article-list li {
  border-bottom: 1px solid grey;
}

.content > .article-list article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 16px;
}

.content > nav[aria-label="pagination"] {
  display: grid;
  justify-content: flex-end;
}

.content > nav[aria-label="pagination"] > ul > li {
  display: inline-block;
}
/* end list of articles */

/* sidebar */
main > aside {
  flex-basis: 400px;
  border-left: 1px solid grey;
}

main > aside > section {
  padding: 16px;
  border-bottom: 1px solid grey;
}

main > aside .ig-feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
/* end sidebar */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* end footer */
